<%- include('parts/header') %> 
<%- include('parts/navbar') %> 

<div class="container">
 
<form action="/auth/login" method="POST">
    <div class="container">
      <h1>welcome, you can login from here</h1>
        
    <% if(typeof loginErrors!=='undefined'){ %>
      <% if (loginErrors.length!==0) {%> 
      <p style="color: red;"><%- loginErrors[0].msg %> </p>
      <% } %> 
      <% } %>  
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% if(typeof autherror!=='undefined'){ %> 
  <h6 style="color: red;"><%- autherror %></h6>
  <% } %>  
 
</div>

  <div style="display:flex; flex-direction:row; justify-content:center;">
    <p style="color: rgb(44, 6, 6); font-weight: bold;">you have not account ,</p><a href="/auth/signinPage">create one from here</a>
  </div>


<%- include('parts/footer') %> 

