<%- include('parts/header') %> 
<%- include('parts/navbar') %> 

<div class="container">
 
<form action="/auth/login" method="POST">
    <div class="container">
      <h1>welcome, you can login from here</h1>
      
      <% if(typeof message!=='undefined'){ %> 
        <%- message %>
        <h2><br></h2>
        <% } %>

        <!-- <% if(typeof welcomeLogin!=='undefined'){ %>
          <%- welcomeLogin %>
          <h2><br></h2>
        <% }%> 

      <% if(typeof passMailIncorrect!=='undefined'){ %> 
      <%- passMailIncorrect %> 
          <h2><br></h2>
        <%  } %>  
        
      <% if(typeof fieldUmpty!=='undefined'){ %> 
      <%- fieldUmpty %>
      <h2><br></h2>
      <% } %> 
        
      <% if(typeof dbInfo!=='undefined'){ %> 
      <%- dbInfo %> 
      <h2><br></h2>
      <% } %> 
                              -->
              
      
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<%- include('parts/footer') %> 

